* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background: #e0e0e0;
  font-family: "Open Sans", sans-serif;
  color: black;
  line-height: 1.4; }

h1,
h2,
h3 {
  display: block;
  font-family: "Lato", sans-serif;
  color: #3b3c3d;
  margin: 0 0 2vh 1vw; }

p,
a,
li {
  text-decoration: none;
  text-align: justify;
  font-size: 14px;
  color: #3b3c3d; }

.flex-row {
  display: flex;
  flex-direction: row; }

.flex-column {
  display: flex;
  flex-direction: column; }

header {
  display: flex;
  height: 6vh;
  min-height: 35px;
  position: fixed;
  background: #fff;
  width: 100%;
  margin-top: -7.5vh;
  box-shadow: 0px 0px 10px -2px #3b3c3d;
  transition: 1s ease-out;
  justify-content: center;
  align-items: center; }
  header:hover {
    height: 7.5vh;
    padding-top: 2vh;
    transition: 1s ease-out; }

.navigation ul {
  margin: auto; }

.navigation a {
  padding: 10px; }
  .navigation a:active {
    background: #e64a19; }
  .navigation a:hover {
    border-bottom: 1px solid #e64a19; }

.navigation li {
  display: inline;
  margin: 0 15px; }
  .navigation li:first-of-type {
    font-weight: 900;
    padding: 25px; }

.posts {
  margin: 7.5vh auto 0 auto;
  padding: 20px;
  max-width: 1000px;
  background: #fff; }

article {
  margin-bottom: 5vh; }
  article:not(:last-of-type) {
    padding-bottom: 2vh;
    border-bottom: 1px solid #e0e0e0; }
  article p {
    padding-left: 10px;
    width: 100%; }
  article a {
    display: inline-block;
    padding: 35px 7px 0 7px;
    margin: 0 10px 5px 10px;
    border: 2px solid #ffb74d;
    writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    width: 40px; }
    article a:hover {
      background: #ffb74d; }
    article a:active {
      background: #e64a19; }

_::selection,
article a {
  width: 80px\0; }

footer {
  box-shadow: 0px 0px 10px -2px #252626;
  background: #fff;
  padding: 25px;
  width: 100%;
  text-align: center; }

.repository-link {
  border: 1px solid #e64a19;
  background: #fff;
  padding: 7px;
  display: block;
  margin: 0 auto 2vh auto;
  width: 50%;
  text-align: center; }
  .repository-link:hover {
    background: linear-gradient(to right, #ffb74d, #e64a19);
    -moz-background: linear-gradient(to right, #ffb74d, #e64a19);
    -webkit-background: linear-gradient(to right, #ffb74d, #e64a19);
    color: #fff; }

.sprite {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(img/social-icons.jpg); }

#facebook {
  background-position: 0 -50px; }
  #facebook:hover {
    background-position: 0 0px; }

#instagram {
  background-position: -150px -50px;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  transform: rotate(5deg); }
  #instagram:hover {
    background-position: -150px 0px; }

#linkedin {
  background-position: -200px -50px; }
  #linkedin:hover {
    background-position: -200px 0px; }

#twitter {
  background-position: -50px -50px; }
  #twitter:hover {
    background-position: -50px 0px; }

#rankings {
  margin: 7.5vh auto 0 auto;
  background: #fff; }
  #rankings > a {
    margin: 25px 20px 25px auto;
    width: 20%;
    text-align: center; }

.grid-list {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #e0e0e0; }

.item-id {
  flex-grow: 1; }

.item-author {
  flex-grow: 3; }

.item-title {
  flex-grow: 5; }

.list-buttons,
.delete-button {
  padding: 5px;
  margin: 5px;
  background: #fff;
  border: 1px solid #ffb74d; }
  .list-buttons:hover,
  .delete-button:hover {
    background: #ffb74d; }

.filter {
  padding: 6px;
  margin: 5px;
  background: #fff;
  border: 1px solid #ffb74d; }

.item {
  margin: 7.5vh auto 0 auto;
  padding: 20px; }

.form {
  margin: 7.5vh auto 0 auto; }
  .form h1 {
    margin: 10px 20px;
    padding: 20px; }

.input-row input {
  flex-grow: 1;
  margin: 10px 20px;
  padding: 10px; }

.input-row textarea {
  flex-grow: 9;
  margin: 10px 20px;
  padding: 10px;
  resize: none;
  height: 240px;
  font-family: "Open Sans", sans-serif; }

.input-row button {
  display: block;
  background: transparent;
  border: 1px solid #ffb74d;
  margin: 10px 20px;
  padding: 10px;
  background: #fff; }
  .input-row button:hover {
    background: #ffb74d; }

.contacts {
  flex-wrap: wrap;
  margin: 7.5vh auto 0 auto;
  padding: 20px;
  background: #fff; }
  .contacts form {
    order: 1;
    padding-top: 10px;
    width: 50%; }
    .contacts form .form-inputs {
      flex-wrap: wrap;
      justify-content: center; }
  .contacts input {
    flex-grow: 1;
    border: none;
    border-bottom: 1px solid #ffb74d;
    padding: 10px;
    margin: 0 10px 10px 10px; }
  .contacts button {
    display: block;
    background: transparent;
    border: 1px solid #e64a19;
    margin: 10px;
    padding: 10px; }
    .contacts button:hover {
      background: linear-gradient(to right, #ffb74d, #e64a19);
      -moz-background: linear-gradient(to right, #ffb74d, #e64a19);
      -webkit-background: linear-gradient(to right, #ffb74d, #e64a19);
      color: #fff; }
  .contacts textarea {
    margin: 10px;
    resize: none;
    height: 200px;
    padding: 10px; }
    .contacts textarea[placeholder] {
      font-family: "Open Sans", sans-serif; }
  .contacts img {
    order: 2;
    padding: 10px;
    width: 50%;
    height: 50%; }
  .contacts h1 {
    margin-top: 25px; }
    .contacts h1:first-of-type {
      margin-bottom: 25px; }

.info {
  order: 3; }
  .info .my-contacts,
  .info .visma-contacts {
    padding: 10px; }

#popup {
  display: none;
  padding: 5px;
  margin: 10px;
  background: #fff;
  border: 2px solid #ffb74d;
  border-radius: 5px;
  position: fixed; }
  #popup a {
    display: block;
    margin: 20px; }

#selected-text span {
  font-weight: 600; }

.hidden {
  display: none !important; }

@media only screen and (max-width: 500px) {
  header,
  header:hover {
    transition: none;
    height: 150px;
    margin: 0;
    padding: 0;
    position: static; }
  .navigation ul,
  .navigation li {
    display: block;
    text-align: center; }
  .navigation a {
    padding: 0; }
  .post {
    display: grid;
    grid-template-columns: 1fr; }
    .post figure {
      grid-column: 1 / 2;
      margin: 0 auto; }
    .post img {
      width: 100%; }
    .post p {
      grid-column: 1 / 2;
      text-align: justify;
      padding: 0; }
    .post a {
      writing-mode: horizontal-tb;
      margin: 1vh auto 0 auto;
      padding: 5px;
      width: 100%;
      text-align: center;
      border-width: 1px; }
  .repository-link {
    width: 50%; }
  .contacts {
    flex-direction: column;
    margin: 15px auto 0 auto; }
    .contacts form {
      order: 1;
      width: 100%; }
    .contacts input,
    .contacts textarea,
    .contacts button {
      width: 100%;
      margin-bottom: 15px; }
    .contacts img {
      order: 3;
      width: 100%; }
  .info {
    order: 1;
    flex-direction: column; } }

@media only screen and (min-width: 501px) and (max-width: 768px) {
  header,
  header:hover {
    transition: none;
    height: 60px;
    margin: 0;
    padding: 10px;
    position: static; }
  .navigation a {
    padding: 5px; }
  .navigation ul {
    margin-top: 10px; }
  .post {
    display: grid;
    grid-template-columns: 1fr 40px; }
    .post figure {
      grid-column: 1 / 3;
      margin: 0 auto; }
    .post p {
      grid-column: 1 / 2;
      text-align: justify; }
    .post a {
      grid-column: 2 / 3;
      margin-left: 5px;
      padding: 5px;
      width: 30px; }
  .repository-link {
    width: 50%; }
  .contacts {
    flex-direction: column;
    margin: 15px auto 0 auto; }
    .contacts form {
      order: 1;
      width: 100%; }
    .contacts img {
      order: 3;
      width: 100%; }
    .contacts input,
    .contacts textarea,
    .contacts button {
      width: 100%;
      margin-bottom: 15px; }
    .contacts p:last-of-type {
      margin-bottom: 15px; }
  .info {
    order: 2;
    flex-direction: column; } }

@media only screen and (min-width: 768px) {
  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .posts img {
      width: 100%; }
  .first-post {
    grid-column: 1 / 3; }
    .first-post .post {
      display: grid;
      grid-template-columns: 1fr 40px; }
      .first-post .post figure {
        grid-column: 1 / 3; }
      .first-post .post p {
        grid-column: 1 / 2;
        width: 100%; }
      .first-post .post a {
        grid-column: 2 / 3;
        margin-left: 5px;
        padding: 5px;
        width: 30px; }
  .second-row-post {
    grid-column: span 1;
    padding: 10px; }
    .second-row-post .post {
      display: grid;
      grid-template-columns: 1fr 40px; }
      .second-row-post .post figure {
        grid-column: 1 / 3;
        width: 100%; }
      .second-row-post .post p {
        grid-column: 1 / 2; }
      .second-row-post .post a {
        grid-column: 2 / 3;
        margin-left: 5px;
        padding: 5px;
        width: 30px; }
  .old-post {
    grid-column: 1 / 3; } }
