$black: #3b3c3d;
$dark-orange: #e64a19;
$orange: #ffb74d;
$grey: #e0e0e0;
$white: #fff;
$font-lato: 'Lato', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;
$content-margin: 7.5vh auto 0 auto;

@mixin gradient($direction, $firstColor, $secondColor) {
    background: linear-gradient($direction, $firstColor, $secondColor);
    -moz-background: linear-gradient($direction, $firstColor, $secondColor);
    -webkit-background: linear-gradient($direction, $firstColor, $secondColor);
}

@mixin rotation($deg) {
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -o-transform: rotate($deg);
    transform: rotate($deg);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: $grey;
    font-family: $font-open-sans;
    color: black;
    line-height: 1.4;
}

h1,
h2,
h3 {
    display: block;
    font-family: $font-lato;
    color: $black;
    margin: 0 0 2vh 1vw;
}

p,
a,
li {
    text-decoration: none;
    text-align: justify;
    font-size: 14px;
    color: $black;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    height: 6vh;
    min-height: 35px;
    position: fixed;
    background: $white;
    width: 100%;
    margin-top: -7.5vh;
    box-shadow: 0px 0px 10px -2px $black;
    transition: 1s ease-out;
    justify-content: center;
    align-items: center;
     
    &:hover {
        height: 7.5vh;
        padding-top: 2vh;
        transition: 1s ease-out;
    }
}


.navigation {
    ul {
        margin: auto;
    }

    a {
        padding: 10px;

        &:active {
            background: $dark-orange;
        }

        &:hover {
            border-bottom: 1px solid $dark-orange;
        }
    }

    li {
        display: inline;
        margin: 0 15px;

        &:first-of-type {
            font-weight: 900;
            padding: 25px;
        }
    }
}

.posts {
    margin: $content-margin;
    padding: 20px;
    max-width: 1000px;
    background: $white;
}

article {
    margin-bottom: 5vh;

    &:not(:last-of-type) {
        padding-bottom: 2vh;
        border-bottom: 1px solid $grey;
    }

    p {
        padding-left: 10px;
        width: 100%;
    }

    a {
        display: inline-block;
        padding: 35px 7px 0 7px;
        margin: 0 10px 5px 10px;
        border: 2px solid $orange;
        writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
        width: 40px;

        &:hover {
            background: $orange;
        }

        &:active {
            background: $dark-orange;
        }
    }
}

_::selection,
article a {
    width: 80px\0;
}

footer {
    box-shadow: 0px 0px 10px -2px #252626;
    background: $white;
    padding: 25px;
    width: 100%;
    text-align: center;
}

.repository-link {
    border: 1px solid $dark-orange;
    background: $white;
    padding: 7px;
    display: block;
    margin: 0 auto 2vh auto;
    width: 50%;
    text-align: center;

    &:hover {
        @include gradient(to right, $orange, $dark-orange);
        color: $white;
    }
}

.sprite {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(img/social-icons.jpg);
}

#facebook {
    background-position: 0 -50px;

    &:hover {
        background-position: 0 0px;
    }
}

#instagram {
    background-position: -150px -50px;
    @include rotation(5deg);

    &:hover {
        background-position: -150px 0px;
    }
}

#linkedin {
    background-position: -200px -50px;

    &:hover {
        background-position: -200px 0px;
    }
}

#twitter {
    background-position: -50px -50px;

    &:hover {
        background-position: -50px 0px;
    }
}

#rankings {
    margin: $content-margin;
    background: $white;

    & > a {
        margin: 25px 20px 25px auto;
        width: 20%;
        text-align: center;
    }
}

.grid-list {
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid $grey;
}

.item-id {
    flex-grow: 1;
}

.item-author {
    flex-grow: 3;
}

.item-title {
    flex-grow: 5;
}

.list-buttons,
.delete-button {
    padding: 5px;
    margin: 5px;
    background: $white;
    border: 1px solid $orange;

    &:hover {
        background: $orange;
    }
}

.filter {
    padding: 6px;
    margin: 5px;
    background: $white;
    border: 1px solid $orange;
}

.item {
    margin: $content-margin;
    padding: 20px;
}

.form {
    margin: $content-margin;

    h1 {
        margin: 10px 20px;
        padding: 20px;
    }
}

.input-row {
    input {
        flex-grow: 1;
        margin: 10px 20px;
        padding: 10px;
    }

    textarea {
        flex-grow: 9;
        margin: 10px 20px;
        padding: 10px;
        resize: none;
        height: 240px; 
        font-family: $font-open-sans;
    }

    button {
        display: block;
        background: transparent;
        border: 1px solid $orange;
        margin: 10px 20px;
        padding: 10px;
        background: $white;

        &:hover {
            background: #ffb74d
        }
    }
}

.contacts {
    flex-wrap: wrap;
    margin: $content-margin;
    padding: 20px;
    background: $white;

    form {
        order: 1;
        padding-top: 10px;
        width: 50%;

        .form-inputs {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    input {
        flex-grow: 1;
        border: none;
        border-bottom: 1px solid $orange;
        padding: 10px;
        margin: 0 10px 10px 10px;
    }

    button {
        display: block;
        background: transparent;
        border: 1px solid $dark-orange;
        margin: 10px;
        padding: 10px;

        &:hover {
            @include gradient(to right, $orange, $dark-orange);
            color: $white;
        }
    }

    textarea {
        margin: 10px;
        resize: none;
        height: 200px;
        padding: 10px;

        &[placeholder] {
            font-family: $font-open-sans;
        }
    }

    img {
        order: 2;
        padding: 10px;
        width: 50%;
        height: 50%;
    }

    h1 {
        margin-top: 25px;

        &:first-of-type {
            margin-bottom: 25px;
        }
    }
}

.info {
    order: 3;

    .my-contacts,
    .visma-contacts {
        padding: 10px;
    }
}

#popup {
    display: none;
    padding: 5px;
    margin: 10px;
    background: $white;
    border: 2px solid $orange;
    border-radius: 5px;
    position: fixed;

    a {
        display: block;
        margin: 20px;
    }
}

#selected-text {
    span {
        font-weight: 600;
    }
}

.hidden {
    display: none !important;
}

@media only screen and (max-width: 500px) {

    header,
    header:hover {
        transition: none;
        height: 150px;
        margin: 0;
        padding: 0;
        position: static;
    }

    .navigation {
        ul,
        li {
            display: block;
            text-align: center;
        }

        a {
            padding: 0;
        }
    }

    .post {
        display: grid;
        grid-template-columns: 1fr;

        figure {
            grid-column: 1 / 2;
            margin: 0 auto;
        }

        img {
            width: 100%;
        }

        p {
            grid-column: 1 / 2;
            text-align: justify;
            padding: 0;
        }

        a {
            writing-mode: horizontal-tb;
            margin: 1vh auto 0 auto;
            padding: 5px;
            width: 100%;
            text-align: center;
            border-width: 1px;
        }
    }

    .repository-link {
        width: 50%;
    }

    .contacts {
        flex-direction: column;
        margin: 15px auto 0 auto;

        form {
            order: 1;
            width: 100%;
        }

        input,
        textarea,
        button {
            width: 100%;
            margin-bottom: 15px;
        }

        img {
            order: 3;
            width: 100%;
        }
    }

    .info {
        order: 1;
        flex-direction: column;
    }
}

@media only screen and (min-width: 501px) and (max-width: 768px) {
    header,
    header:hover {
        transition: none;
        height: 60px;
        margin: 0;
        padding: 10px;
        position: static;
    }

    .navigation {
        a {
            padding: 5px;
        }

        ul {
            margin-top: 10px
        }
    }

    .post {
        display: grid;
        grid-template-columns: 1fr 40px;

        figure {
            grid-column: 1 / 3;
            margin: 0 auto;
        }

        p {
            grid-column: 1 / 2;
            text-align: justify;
        }

        a {
            grid-column: 2 / 3;
            margin-left: 5px;
            padding: 5px;
            width: 30px;
        }
    }

    .repository-link {
        width: 50%;
    }

    .contacts {
        flex-direction: column;
        margin: 15px auto 0 auto;

        form {
            order: 1;
            width: 100%;
        }

        img {
           order: 3;
           width: 100%;
        }

        input,
        textarea,
        button {
            width: 100%;
            margin-bottom: 15px;
        }

        p {
            &:last-of-type {
                margin-bottom: 15px;
            }
        }
    }

    .info {
        order: 2;
        flex-direction: column;
    }
}

@media only screen and (min-width: 768px) {
    .posts {
        display: grid;
        grid-template-columns: 1fr 1fr;

        img {
            width: 100%;
        }
    }

    .first-post {
        grid-column: 1 / 3;

        .post {
            display: grid;
            grid-template-columns: 1fr 40px;

            figure {
                grid-column: 1 / 3;
            }

            p {
                grid-column: 1 / 2;
                width: 100%;
            }

            a {
                grid-column: 2 / 3;
                margin-left: 5px;
                padding: 5px;
                width: 30px;
            }
        }
    }

    .second-row-post {
        grid-column: span 1;
        padding: 10px;

        .post {
            display: grid;
            grid-template-columns: 1fr 40px;

            figure {
                grid-column: 1 / 3;
                width: 100%;
            }

            p {
                grid-column: 1 / 2;
            }

            a {
                grid-column: 2 / 3;
                margin-left: 5px;
                padding: 5px;
                width: 30px;
            }
        }
    }

    .old-post {
        grid-column: 1 / 3;
    }
}