<footer>
    <a href="https://bitbucket.org/asaltenis/internship_project/src./" class="repository-link">My Internship Repository</a>
    <a href="#" class="sprite" id="facebook"></a>
    <a href="#" class="sprite" id="instagram"></a>
    <a href="#" class="sprite" id="linkedin"></a>
    <a href="#" class="sprite" id="twitter"></a>
</footer>