<header>
    <nav class="navigation">
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="rankings.html">Rankings</a>
            </li>
            <li>
                <a href="contacts.html">Contact</a>
            </li>
        </ul>
    </nav>
</header>